@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="auth-background">
    <div class="auth-card">
        <h1>Registro de usuario</h1>

        <form method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input asp-for="Input.Nom" />
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Apellidos</label>
                <input asp-for="Input.Cognoms" />
                <span asp-validation-for="Input.Cognoms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input asp-for="Input.Email" type="email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="Input.Contrasenya" type="password" />
                <span asp-validation-for="Input.Contrasenya" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Repetir contraseña</label>
                <input asp-for="Input.ConfirmarContrasenya" type="password" />
                <span asp-validation-for="Input.ConfirmarContrasenya" class="text-danger"></span>
            </div>

            <div class="auth-actions">
                <button type="submit" class="btn-auth primary">
                    Registrarse
                </button>

                <a asp-page="/Account/Login" class="btn-auth secondary">
                    Ya tengo cuenta
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}