@page
@model Fase4_WebExterna.Pages.Admin.DashboardModel

<div class="admin-page">
    <h1>⚙️ Panel de Administración</h1>

    <div class="admin-links">
        <a asp-page="/Admin/Users">👥 Usuarios</a>
        <a asp-page="/Admin/Reservas">📅 Reservas</a>

    </div>


</div>