@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="home-background">
    <div class="hero">
        <h1>Laser Tag Arena</h1>
        <p>¡Ven y vive la experiencia más emocionante de Laser Tag!</p>
        <a href="/Reservations/Create" class="btn-hero">Reservar Ahora</a>
    </div>
</div>