@page
@model Fase4_WebExterna.Pages.InstalacionesModel
@{
    ViewData["Title"] = "Instalaciones";
}

<div class="container mt-5">
    <h1>Nuestras instalaciones</h1>
    <p>
        Descubre nuestras salas, mapas y zonas de juego diseñadas
        para ofrecer la mejor experiencia Laser Tag.
    </p>
</div>